@import "tailwindcss";

@theme {
  --color-skin-shadowed: #A65D46;
  --color-charcoal-suit: #1F1F24;
  --color-off-white-shirt: #FFFFFF;
  --color-silver-stripe: #A1A1AA;
  --color-dark-stripe: #18181B;
  --color-chair-brown: #3F3F46;
  --color-deep-shadow: #09090B;
  --color-metal-accent: #27272A;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-off-white-shirt);
  background-color: var(--color-deep-shadow);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-deep-shadow);
}
